@import "tailwindcss";

@theme {
  --color-acs-purple: #210140;
  --color-acs-yellow: #F2D49B;
  --color-acs-orange-light: #F2D4AE;
  --color-acs-orange-dark: #BF533B;
  --color-acs-red: #A6382E;
  --color-acs-green: #4C9A2A;

  --shadow-acs-card: 10px 10px 0 var(--tw-shadow-color);
  --shadow-acs-button: 5px 5px 0 var(--tw-shadow-color);
  --shadow-acs-separator: 3px 3px 0 var(--tw-shadow-color);

  --breakpoint-2k: 1921px;
}
